In [75]:
import pandas as pd
import numpy as np

In [76]:
data=pd.read_excel('result.xlsx')[0:32]
data

    Unnamed: 0  acid_concentration/M  ...   Ialpha  Ialpha/Itotal
0            1                  0.40  ...   648.95       0.678714
1            2                  0.40  ...   355.97       0.149126
2            3                  0.40  ...      NaN       0.000000
3            4                  0.20  ...   821.90       0.429811
4            5                  0.20  ...   379.70       0.160875
5            6                  0.20  ...      NaN       0.000000
6            7                  0.05  ...      NaN       0.000000
7            8                  0.05  ...      NaN       0.000000
8            9                  0.05  ...      NaN       0.000000
9           10                  0.40  ...   452.86       0.092372
10          11                  0.40  ...   307.02       0.135124
11          12                  0.40  ...      NaN       0.000000
12          13                  0.20  ...   211.12       0.075868
13          14                  0.20  ...   253.17       0.088931
14          15                  0.20  ...      NaN       0.000000
15          16                  0.05  ...      NaN       0.000000
16          17                  0.05  ...      NaN       0.000000
17          18                  0.05  ...      NaN       0.000000
18          19                  0.40  ...   267.33       0.078590
19          20                  0.40  ...  1125.27       0.050026
20          21                  0.40  ...      NaN       0.000000
21          22                  0.20  ...    89.87       0.047746
22          23                  0.20  ...   116.41       0.034826
23          24                  0.20  ...      NaN       0.000000
24          25                  0.05  ...      NaN       0.000000
25          26                  0.05  ...      NaN       0.000000
26          27                  0.05  ...      NaN       0.000000
27          28                  0.55  ...      NaN            NaN
28          29                  0.55  ...      NaN            NaN
29          30                  0.25  ...      NaN            NaN
30          31                  0.55  ...      NaN            NaN
31          32                  0.30  ...      NaN            NaN

[32 rows x 10 columns]

In [77]:
X=data.iloc[:,1:4]

In [78]:
X=np.array(X)

In [79]:
len(X)

32

In [80]:
y=data[['phase/ 0 alpha/1 beta/2 mix']]

In [81]:
y=np.array(y).ravel()

In [82]:
y

array([2, 2, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 2,
       2, 1, 1, 1, 1, 0, 0, 0, 0, 0], dtype=int64)

In [83]:
from sklearn.model_selection import KFold
import torch
import torch.nn as nn
import torch.optim as optim
from scipy.stats import entropy
import torchbnn as bnn
from sklearn.preprocessing import MinMaxScaler

In [84]:

device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
   


kf = KFold(n_splits=5, shuffle=True, random_state=42)
cv_accuracies = []

for train_index, val_index in kf.split(X):
   
    X_train_np, X_val_np = X[train_index], X[val_index]
    y_train_np, y_val_np = y[train_index], y[val_index]

    
    scaler = MinMaxScaler(feature_range=(0, 1))  
    X_train_scaled = scaler.fit_transform(X_train_np)
    X_val_scaled   = scaler.transform(X_val_np)

   
    X_train_t = torch.tensor(X_train_scaled, dtype=torch.float32, device=device)
    y_train_t = torch.tensor(y_train_np, dtype=torch.long, device=device)
    X_val_t   = torch.tensor(X_val_scaled, dtype=torch.float32, device=device)
    y_val_t   = torch.tensor(y_val_np, dtype=torch.long, device=device)

    
    model = nn.Sequential(
        bnn.BayesLinear(prior_mu=0, prior_sigma=0.1, in_features=X_train_t.shape[1], out_features=50),
        nn.ReLU(),
        bnn.BayesLinear(prior_mu=0, prior_sigma=0.1, in_features=50, out_features=len(np.unique(y)))
    ).to(device)

    criterion = nn.CrossEntropyLoss()
    kl_loss = bnn.BKLLoss(reduction='mean')
    optimizer = optim.Adam(model.parameters(), lr=1e-3)

    for epoch in range(500):
        model.train()
        optimizer.zero_grad()
        outputs = model(X_train_t)
        loss = criterion(outputs, y_train_t) + 0.1 * kl_loss(model)
        loss.backward()
        optimizer.step()

  
    model.eval()
    with torch.no_grad():
        val_preds = model(X_val_t).argmax(dim=1)
        acc = (val_preds == y_val_t).float().mean().item()
        
        cv_accuracies.append(acc)

mean_acc = np.mean(cv_accuracies)
std_cv_acc = np.std(cv_accuracies)  
sem_cv_acc = std_cv_acc / np.sqrt(len(cv_accuracies))

print("Mean Accuracy:", mean_acc)
print("Accuracy SEM:", sem_cv_acc)

Mean Accuracy: 0.6190476357936859
Accuracy SEM: 0.06459362030976286