In [35]:
import pandas as pd
import numpy as np

In [36]:
data=pd.read_excel('result.xlsx')[0:32]
data

    Unnamed: 0  acid_concentration/M  ...   Ialpha  Ialpha/Itotal
0            1                  0.40  ...   648.95       0.678714
1            2                  0.40  ...   355.97       0.149126
2            3                  0.40  ...      NaN       0.000000
3            4                  0.20  ...   821.90       0.429811
4            5                  0.20  ...   379.70       0.160875
5            6                  0.20  ...      NaN       0.000000
6            7                  0.05  ...      NaN       0.000000
7            8                  0.05  ...      NaN       0.000000
8            9                  0.05  ...      NaN       0.000000
9           10                  0.40  ...   452.86       0.092372
10          11                  0.40  ...   307.02       0.135124
11          12                  0.40  ...      NaN       0.000000
12          13                  0.20  ...   211.12       0.075868
13          14                  0.20  ...   253.17       0.088931
14          15                  0.20  ...      NaN       0.000000
15          16                  0.05  ...      NaN       0.000000
16          17                  0.05  ...      NaN       0.000000
17          18                  0.05  ...      NaN       0.000000
18          19                  0.40  ...   267.33       0.078590
19          20                  0.40  ...  1125.27       0.050026
20          21                  0.40  ...      NaN       0.000000
21          22                  0.20  ...    89.87       0.047746
22          23                  0.20  ...   116.41       0.034826
23          24                  0.20  ...      NaN       0.000000
24          25                  0.05  ...      NaN       0.000000
25          26                  0.05  ...      NaN       0.000000
26          27                  0.05  ...      NaN       0.000000
27          28                  0.55  ...      NaN            NaN
28          29                  0.55  ...      NaN            NaN
29          30                  0.25  ...      NaN            NaN
30          31                  0.55  ...      NaN            NaN
31          32                  0.30  ...      NaN            NaN

[32 rows x 10 columns]

In [37]:
X=data.iloc[:,1:4]

In [38]:
X=np.array(X)

In [39]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0, 1))

# Fit and transform the data
X_scale = scaler.fit_transform(X)

In [40]:
X_scale

array([[0.7       , 0.7       , 1.        ],
       [0.7       , 0.3       , 1.        ],
       [0.7       , 0.        , 1.        ],
       [0.3       , 0.7       , 1.        ],
       [0.3       , 0.3       , 1.        ],
       [0.3       , 0.        , 1.        ],
       [0.        , 0.7       , 1.        ],
       [0.        , 0.3       , 1.        ],
       [0.        , 0.        , 1.        ],
       [0.7       , 0.7       , 0.18367347],
       [0.7       , 0.3       , 0.18367347],
       [0.7       , 0.        , 0.18367347],
       [0.3       , 0.7       , 0.18367347],
       [0.3       , 0.3       , 0.18367347],
       [0.3       , 0.        , 0.18367347],
       [0.        , 0.7       , 0.18367347],
       [0.        , 0.3       , 0.18367347],
       [0.        , 0.        , 0.18367347],
       [0.7       , 0.7       , 0.        ],
       [0.7       , 0.3       , 0.        ],
       [0.7       , 0.        , 0.        ],
       [0.3       , 0.7       , 0.        ],
       [0.3       , 0.3       , 0.        ],
       [0.3       , 0.        , 0.        ],
       [0.        , 0.7       , 0.        ],
       [0.        , 0.3       , 0.        ],
       [0.        , 0.        , 0.        ],
       [1.        , 1.        , 1.        ],
       [1.        , 1.        , 0.69387755],
       [0.4       , 1.        , 1.        ],
       [1.        , 1.        , 0.59183673],
       [0.5       , 1.        , 0.79591837]])

In [41]:
y=data[['phase/ 0 alpha/1 beta/2 mix']]

In [42]:
y=np.array(y).ravel()

In [43]:
y

array([2, 2, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 2,
       2, 1, 1, 1, 1, 0, 0, 0, 0, 0], dtype=int64)

In [44]:
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score

In [45]:
clf_scaled = make_pipeline(MinMaxScaler(), SVC(kernel='rbf', probability=True, random_state=42))
scores_scaled = cross_val_score(clf_scaled, X, y, cv=5,scoring='accuracy')
mean_cv_acc = scores_scaled.mean()
std_cv_acc = scores_scaled.std()
sem_cv_acc = std_cv_acc / np.sqrt(len(scores_scaled))
print(mean_cv_acc, sem_cv_acc)

0.7857142857142857 0.06734350297014738